body {
    background: #f8f8f8;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
  }

.left-sidenav{
    width: 15%;
    background: #1270a7;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.right-sidenav{
    margin-left: 85%;
    width: 15%;
    background: #1270a7;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.top-navbar{
    height: 5%;
    background: #898427;
    display: flex;
}

.username{
    width: 20%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.balance{
    width: 60%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.level{
    width: 20%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.textName{
    margin-left: 1rem;
}

.balanceText{
    font-size: 30px;
}

.levelText{
    margin-right: 1rem;
}

.mainGame{
    margin-left: 15%;
    width: 70%;
    background: #f8f8f8;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.clickArea{
    position: inline-flex;
    height: 95%;
}

.clickImage{
    min-width: 100%;
    object-fit: fill;
}